<div id="main-col">
  <h1 class="text-shadow"><%= @user.full_name %></h1>
  <h2><%= @user.position? ? @user.position : 'Unknown position' %></h2>
</div>
<div id="sidebar">
<% if current_user.can_edit?(@user) %>
<%= link_to content_tag(:div, 'Edit', :class=>'btn blue-btn'), edit_user_path(@user) %>
<% end %>
</div>

