<div id="main-col">
Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsum

</div>
<div id="sidebar">
Welcome back <%= link_to current_user.first_name,
		 user_path(current_user) %>!
<%=link_to(content_tag(:div, 'Create page', :class =>'btn blue-btn'),
		 new_page_path) %>
<%=link_to(content_tag(:div, 'Log out', :class =>'btn red-btn'), destroy_user_session_path) %>
</div>
