/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body{
    background-color:#E2E1DE;
    font-family:Arial;
    color:#111213;
    font-size:14px;
}

a {
    color:#111213;
}

div#top-container {
    width:1200px;
    margin: 0 auto;
}

div#white-container {
    width:100%;
    background-color:#f1f2f3;
    padding:10px;
    border-radius:2px;
}

div#logo{
    font-size:40px;
    font-weight:bold;
    margin:20px 0;
    text-shadow:0px 0px 3px #515253;
}

div#logo a{
    text-decoration:none;
    color:#05224C;
}

.page-edit {
    border:0px;
//    border:1px solid #d1d2d3;
    background-color:#f1f2f3;//#fff;
    width:100%;
    font-family:Arial;
}

input#page_title {
    font-size:28px;
    font-weight:bold;
    margin-bottom:15px;
}

.blue-button {
    text-align:center;
    width:100%;
    padding:5px;
    border-radius:4px;
    font-weight:bold;
    background-color: #2A84CA;
    background-image: -moz-linear-gradient(center top , #2A84CA, #0C66AC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.8);
}

.blue-button a{
    text-decoration:none;
    color: rgba(255, 255, 255, 0.8);
}

.dark-blue {
    color:#05224C;
}

.text-shadow {
    text-shadow:0px 0px 3px #818283;
}

.box-shadow {
    box-shadow:0px 0px 3px #515253;
}
.fclear {
    clear:both;
}